# Xcode
#
build/
DerivedData/
*.xcuserstate
**/xcuserdata/
*.xcworkspace/
!*.xcodeproj/project.xcworkspace
!*.xcodeproj/xcshareddata/

# CocoaPods
#
# It is recommended to store the Podfile.lock in source control
# to ensure everyone uses the same pod versions.
Pods/

# Swift Package Manager
#
.build/
.swiftpm/
Package.resolved

# Apple specific
#
.DS_Store
.AppleDouble
.LSOverride

# Security Audit
#
.gemini_security/

# Build Tools
#
buildServer.json
*.ipa

# Agent specific
#
.claude/
.gemini/
docs/
conductor/
